NeatAlgorithm/obj/
NeatAlgorithm/bin/

NeatAlgorithm/Data/ExcelDataEditor.cs
NeatAlgorithm/Data/ExcelDataWriter.cs
NeatAlgorithm/Data/DataReader.cs

NeatAlgorithm/Properties/
NeatAlgorithm/App.config
NeatAlgorithm/NeatAlgorithm.csproj
.vs/
NeatAlgorithm.sln
NeatAlgorithm/packages.config
packages/
NeatAlgorithm/Program.cs